[user]
        email = manzoku@mobcast.jp
        name = Ryo MANZOKU
[core]
        editor = emacs
[pager]
    log = ~/.share/doc/git/contrib/diff-highlight/diff-highlight | less
    show = ~/.share/doc/git/contrib/diff-highlight/diff-highlight | less
    diff = ~/.share/doc/git/contrib/diff-highlight/diff-highlight | less
[alias]
    unstage = "reset HEAD"
