*~
.DS_Store

.config/gcloud
.config/hub

.emacs.d/elpa/
.emacs.d/el-get/
.emacs.d/ac-comphist.dat
.emacs.d/.python-environments/

.zsh.d/secret

.ssh/config
.ssh/*.id_rsa
.ssh/*.id_rsa.pub
.ssh/known_hosts
.ssh/conf.d/gitignore/*
!.ssh/conf.d/gitignore/.gitkeep
